.control-container {
  height: fit-content;
  margin: 8px;
  overflow: hidden;
}

.control-value {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  height: 22px;
}

.control-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;

  font-size: 1.1em;
  font-weight: bold;

  width: 100%;
}
