.minimap {
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}
