.control-container {
  min-width: 100px;
  max-width: 150px;
}

.box {
  border-radius: 8px;
  height: 200px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  background-color: var(--surface-variant);

  // display items stacked starting from the bottom
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.slider {
  width: 100%;
  transition: background-color 0.3s ease-in-out;
  background-color: var(--primary);
}
