<div class="control-container">
  <div class="control-value">{{ _value | formatFixed }} {{ unit }}</div>
  <div class="box-container">
    <div class="box wanted">
      <div class="wanted-slider slider" [style.height.px]="_primary * 200"></div>
    </div>
    <div *ngIf="_secondary || _secondary === 0" class="box actual">
      <div
        [ngClass]="['slider', secondaryInput ? 'wanted-slider' : 'actual-slider']"
        [style.height.px]="_secondary * 200"
      ></div>
    </div>
  </div>
  <div class="control-label"><ng-content></ng-content></div>
</div>
