.half-circle {
  height: 200px;
  width: auto;
  stroke: var(--surface-variant);
  fill: var(--primary)
}

.circle-control {
  transform-origin: 120px 120px;
}

.overlaid {
  display: grid;
  align-items: center;
  justify-items: end;
}

.grid-element {
  grid-row: 1;
  grid-column: 1;
}

.gears {
  height: fit-content;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.gear {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  transition: all 0.2s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.4em;
  font-weight: bolder;
}

.gear-active {
  background-color: var(--primary);
  color: var(--on-primary);
}

.gear-default {
  background-color: var(--surface-variant);
  color: var(--on-surface-variant);
}

