.half-circle {
  height: 255px;
  width: 450px;
  transition-property: stroke, fill;
  transition: 0.2s ease-in-out;

  overflow: hidden;
  border-radius: 16px;

  stroke: var(--surface-variant);
  fill: var(--primary)
}

.circle-control {
  transform-origin: 225px 225px;
}

.overlaid {
  height: 100%;
  width: 100%;
  display: grid;
}

.map-container {
  height: 255px;
  width: 450px;
  clip-path: circle(160px at 225px 225px);
}

.grid-element {
  grid-row: 1;
  grid-column: 1;
}
