<div class="control-container overlaid">
  <svg
    viewBox="0 0 450 255"
    xmlns="http://www.w3.org/2000/svg"
    class="half-circle grid-element steering-component"
  >
    <path
      d="M 30 255 L 30 225 A 97.5 97.5 180 0 1 420 225 L 420 255"
      fill="none"
      stroke-linecap="butt"
      stroke-width="60"
    />
    <circle cx="225" cy="30" r="25" class="circle-control" [style.transform]="_transform" />
  </svg>
  <div class="grid-element map-container">
    <ng-content></ng-content>
  </div>
</div>
