<div>Connected: {{connected}}</div>
<div *ngIf="error">Error: {{error}}</div>
<div>
  <div *ngFor="let user of users | keyvalue">
    <h1>{{user.key}}</h1>
    <div *ngIf="user.value != null; else noData">
      <div>Time: {{user.value.time}}</div>
      <div *ngIf="user.value.carData">
        <h2>Car Data</h2>
        <car-data [carData]="user.value.carData"></car-data>
        <h2>Drivetrain</h2>
        <drivetrain-data [drivetrain]="user.value.carData.drivetrain"></drivetrain-data>
      </div>
    </div>
    <ng-template #noData>
      <div>No data</div>
    </ng-template>
  </div>
</div>
