<div class="horizontal">
  <steering-view
    [value]="_carData.steeringInput"
    [gear]="_carData.drivetrain.gear"
    [changingGear]="_carData.drivetrain.isChangingGear"
  >
    <div double class="horizontal">
      <feature-bulb-view [isOn]="_carData.drivetrain.canStall">WRN</feature-bulb-view>
      <feature-bulb-view [isOn]="_carData.drivetrain.isStalling">STL</feature-bulb-view>
    </div>
    <div triple class="horizontal">
      <feature-bulb-view [isOn]="_carData.absTriggered">ABS</feature-bulb-view>
      <feature-bulb-view [isOn]="_carData.tcsTriggered">TCS</feature-bulb-view>
      <feature-bulb-view [isOn]="_carData.espTriggered">ESP</feature-bulb-view>
    </div>
  </steering-view>
  <slider-input-view
    [primary]="_carData.throttleInput"
    [max]="9000"
    [secondary]="_carData.drivetrain.rpm"
    [value]="_carData.drivetrain.rpm"
  >
    RPM
  </slider-input-view>
  <slider-input-view
    [primary]="_carData.brakeInput"
    [secondary]="_carData.handbrakeInput"
    [secondaryInput]="true"
  >
    Brake</slider-input-view
  >
  <slider-input-view [primary]="_carData.clutchInput" [secondary]="_carData.drivetrain.clutch"
    >Clutch</slider-input-view
  >
</div>
