<div [ngClass]="'theme-' + theme + '-' + (darkMode ? 'dark' : 'light')">
  <div *ngIf="connected; else disconnected">
    <car-data [carData]="carData" [waypoints]="waypoints" [steeringContent]="steeringContent"></car-data>
  </div>
  <ng-template #disconnected>
    <div [ngClass]="[connected ? 'connected-box' : 'disconnected-box', 'connection-status-box']">
      <div>{{ connected ? 'Connected' : 'Disconnected' }}</div>
    </div>
    <div class="error" *ngIf="error">Error: {{ error }}</div>
  </ng-template>
</div>
