.theme-nasu-light {
  --primary: #9A4069;
  --on-primary: #FFFFFF;
  --primary-container: #FFD8E7;
  --on-primary-container: #400022;

  --secondary: #2D6B2A;
  --on-secondary: #FFFFFF;
  --secondary-container: #AFF3A1;
  --on-secondary-container: #002202;

  --tertiary: #006B5C;
  --on-tertiary: #FFFFFF;
  --tertiary-container: #60F8E0;
  --on-tertiary-container: #00201A;

  --error: #C21922;
  --on-error: #FFFFFF;
  --error-container: #FFDAD5;
  --on-error-container: #440003;

  --success: #246F0C;
  --on-success: #FFFFFF;
  --success-container: #84FF49;
  --on-success-container: #052201;

  --background: #FCFCFC;
  --on-background: #201A1B;

  --surface: #FCFCFC;
  --on-surface: #201A1B;
  --outline: #847378;
  --surface-variant: #F3DEE3;
  --on-surface-variant: #524348;
}

.theme-nasu-dark {
  --primary: #FFAFD1;
  --on-primary: #5F0F39;
  --primary-container: #7C2850;
  --on-primary-container: #FFD8E7;

  --secondary: #95D788;
  --on-secondary: #003A06;
  --secondary-container: #125215;
  --on-secondary-container: #AFF3A1;

  --tertiary: #3BDBC4;
  --on-tertiary: #00382F;
  --tertiary-container: #005145;
  --on-tertiary-container: #60F8E0;

  --error: #FFB4AB;
  --on-error: #6D0008;
  --error-container: #99000F;
  --on-error-container: #FFDAD5;

  --success: #246F0C;
  --on-success: #FFFFFF;
  --success-container: #84FF49;
  --on-success-container: #052201;

  --background: #201A1B;
  --on-background: #EDE0E1;

  --surface: #201A1B;
  --on-surface: #EDE0E1;
  --outline: #9E8D92;
  --surface-variant: #524348;
  --on-surface-variant: #D5C2C7;
}
