<div class="horizontal">
  <steering-view
    [value]="_carData.inputData?.steeringInput || 0"
    [gear]="_carData.drivetrain?.gear || 1"
    [changingGear]="_carData.drivetrain?.isChangingGear"
    [inside]="steeringContent"
  >
    <div double class="horizontal">
      <!--<feature-bulb-view [state]="_carData.drivetrain?.canStall">WRN</feature-bulb-view>-->
      <!-- <feature-bulb-view [state]="_carData.drivetrain?.isStalling">STL</feature-bulb-view> -->
    </div>
    <div triple class="horizontal">
      <feature-bulb-view [state]="_carData.assistance?.absTriggered">ABS</feature-bulb-view>
      <feature-bulb-view [state]="_carData.assistance?.tcsTriggered">TCS</feature-bulb-view>
      <feature-bulb-view [state]="_carData.assistance?.espTriggered">ESP</feature-bulb-view>
    </div>
    <minimap-view
      map
      [waypoints]="_waypoints"
      [playerPos]="_carData.positionData"
      [mode]="'player'"
    ></minimap-view>
  </steering-view>
  <slider-input-view
    [primary]="_carData.inputData?.throttleInput || 0"
    [max]="9000"
    [secondary]="_carData.drivetrain?.rpm || 0"
    [value]="_carData.drivetrain?.rpm || 0"
  >
    <div value>{{ _carData.drivetrain?.rpm || 0 | formatFixed }}</div>
    RPM
  </slider-input-view>
  <slider-input-view
    [primary]="_carData.inputData?.brakeInput || 0"
    [secondary]="_carData.inputData?.handbrakeInput || 0"
    [secondaryInput]="true"
  >
    <div value class="horizontal" style="height: 100%; align-items: center">
      <div
        class="top-label"
        style="padding-left: 2px"
        [style.animation-delay]="-(_carData.assistance?.absTriggered || 0) + 's'"
      >
        ABS
      </div>
      <div class="top-label" [style.animation-delay]="-(_carData.assistance?.tcsTriggered || 0) + 's'">
        TCS
      </div>
      <div
        class="top-label"
        style="padding-right: 2px"
        [style.animation-delay]="-(_carData.assistance?.espTriggered || 0) + 's'"
      >
        ESP
      </div>
    </div>
    Brake</slider-input-view
  >
  <slider-input-view
    [primary]="_carData.inputData?.clutchInput || 0"
    [secondary]="_carData.drivetrain?.clutch || 0"
    >Clutch</slider-input-view
  >
</div>
