.horizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.sliders {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;

  :last-child::ng-deep.control-container {
    border-radius: 4px 80% 16px 4px;
  }

  :first-child::ng-deep.control-container {
    border-radius: 80% 4px 4px 16px;
  }
}

@keyframes blend-label {
  0% {
    color: var(--on-surface);
    background-color: var(--surface);
    font-weight: bold;
  }
  100% {
    color: var(--on-tertiary);
    background-color: var(--tertiary);
    font-weight: bolder;
  }
}

.top-label {
  display: flex;
  font-size: 0.6em;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  animation: blend-label 1s linear forwards paused;
}
